<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Node.JS Basic</title>
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body>
    <div>
        <form action="/update-user/<%=dataUser[0].id%>" method="post">

            <label>NameUser:</label><br>
            <input type="text" id="NameUser" name="NameUser" value="<%=dataUser[0].NameUser%>"><br>

            <label>Age:</label><br>
            <input type="text" id="Age" name="Age" value="<%=dataUser[0].Age%>"><br>

            <label>Email:</label><br>
            <input type="text" id="Email" name="Email" value="<%=dataUser[0].Email%>"><br>

            <label>Address:</label><br>
            <input type="text" id="Address" name="Address" value="<%=dataUser[0].Address%>"><br>

            <label>Phone:</label><br>
            <input type="text" id="Phone" name="Phone" value="<%=dataUser[0].Phone%>"><br><br>
            <input type="text" hidden name="id" value="<%=dataUser[0].id%>">

            <input type="submit" value="Save">
            <hr />
            <img src="/images/<%=dataUser[0].img%>" width="100">
        </form>
</body>

</html>